/* ::selection & ::-webkit-scrollbar */
::selection {
  @apply bg-pink-500 text-white;
}
::-webkit-scrollbar {
  @apply w-2 bg-gray-800;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-700 hover:bg-pink-500;
}

/* active -  navbar link */
.navbar-link.active {
  @apply text-blue-600;
}
